.title{
    text-align-last: center;
}
.border{
    border: 1px solid red;
    padding: 15px;
    border-radius: 5px;
}
@media(max-width: 1024px){
    .title:first-child{
        margin-top: 100px;
    }
}